* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: white;
  font-weight: bolder;
}
.navbar-nav .nav-item .nav-link:hover {
  background: white;
  color: black;
}
.navbar-nav {
  padding-right: 100px;
}
.logo {
  width: 280px;
}
@media screen and (max-width: 640px) {
  .nav-item {
    background: transparent;
  }
  .nav-link{
    text-align: center;
    margin-left: 90px;
  }
  .logo {
    width: 170px;
    height: 40px;
    margin-left: 50%;
    margin-right: 50%;
  }
}

/* <!--- scroll back to top button start----> */

.top_btn{
  background-color: #0d362e;
  display: none;
  color: #DC9036;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  height: 70px;
  width: 70px;
  font-size: 35px;
  border: none;
  outline: none;  
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

/* <!--- scroll back to top button ends ----> */

/* image text */
.mainimg {
  height: 600px;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.homelink {
  color: white;
  font-weight: bold;
}
.homelink:hover {
  text-decoration: none;
  color: #DC9036;
}
.main-text {
  position: absolute;
  top: 300px;
  left: 60px;
  width: 35%;
  color: white;
}
@media screen and (max-width: 640px) {
  .main-text {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 250px;
    text-align: center;
  }
  .main-text h1 {
    font-size: 25px;
    word-spacing: 5px;
  }
  .mainimg {
    height: 400px;
  }
  .main-text p {
    font-size: 15px;
  }
}

/* about ais details */
.aboutdetail {
  margin-top: 100px;
}
.abouttext {
  margin-top: 50px;
  padding-left: 100px;
}
.link {
  font-size: 18px;
  font-weight: bold;
  color: #0d362e;
  border-bottom: 3px solid #0d362e;
}
.link:hover {
  color: #DC9036;
  text-decoration: none;
}
.aboutimg {
  padding-left: 120px;
  width: 850px;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .aboutdetail{
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 4px solid #000;
  }
  .abouttext {
    text-align: center;
    margin-top: 0;
    padding-left: 20px;
  }
  .aboutimg {
    margin-top: 20px;
    padding-left: 0px;
    width: 100%;
    height: 300px;
  }
}

/* our story */
.storycontainer {
  margin-top: 100px;
}
.storytext {
  color: white;
  background-color: #0d362e;
  padding-top: 30px;
}
.storytext1 {
  padding: 22px 60px 0px 40px;
  margin-left: 10px;
}
.storyimg {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .storycontainer{
    margin-top: 50px;
  }
  .storyimg {
    height: 250px;
  }
  .storytext1 {
    text-align: center;
    padding: 10px 20px 10px 20px;
  }
}

/* our people */
.ourpeople {
  margin-top: 100px;
}


.coretitle{
    border-bottom: 3px solid #0d362e;
    color: #DC9036;
}
.coreimg{
    border: 10px solid #0d362e;
    width: 225px;
    height: 293px;
    object-fit: cover;
}

.core2{
    margin-left: auto;
}
.core3{
    margin-right: auto;
}
@media screen and (max-width: 640px) {
    .ourpeople{
        display: none;
    }
}
.ourpeople2{
    margin-top: 30px;
}
@media screen and (min-width: 640px) {
    .ourpeople2{
        display: none;
    }
}

/* Our commitment to sustainability and wellness */
.commit {
  margin-top: 30px;
  border-top: 4px solid rgb(32, 29, 29);
  border-bottom: 4px solid rgb(32, 29, 29);
  padding-bottom: 100px;
}
.headcommit {
  margin-top: 80px;
}
.committext {
  margin-top: 15px;
}

/* browse */
.browse {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}
.browsetext {
  padding-left: 200px;
  padding-right: 80px;
}
.browse-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .browsetext {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .browse-image {
    width: 100%;
    height: 250px;
  }
  .browse{
    margin-top: 50px;
  }
  .commit{
    padding-bottom: 50px;
  }
  .headcommit{
    margin-top: 40px;
  }
}

/* contactus and footer */
.contactus {
  margin-top: 100px;
  border-top: 4px solid black;
}

.row {
  margin-top: 50px;
}
.contactusrow2{
  margin-top: 50px;
  margin-left: 200px;
}
.contactus .row .col-lg-6 a {
  text-decoration: none;
  color:#0d362e;
  border-bottom: 3px solid #0d362e;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.contactus .row .col-lg-6 a:hover {
  color: #DC9036;
}

@media screen and (max-width: 640px) {
  .contactus {
    text-align: center;
    margin-top: 50px;
  }
}

.worklink {
  text-decoration: none;
  color: black;
}

.worklink:hover {
  text-decoration: none;
  color: #0d362e;
  cursor: pointer;
}

.footlink {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

@media screen and (max-width: 650px) {
  .footer-text {
    margin-bottom: 20px;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
  .contactusrow2{
    margin-left: 0;
  }
}
