* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#myListView.k-widget, #catalog-items.k-widget * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: white;
  font-weight: bolder;
}

.navbar-nav .nav-item .nav-link:hover {
  background: white;
  color: black;
}

.navbar-nav {
  padding-right: 100px;
}

.logo {
  width: 280px;
}

@media screen and (max-width: 640px) {
  .nav-item {
    background: transparent;
  }
  .nav-link {
    text-align: center;

    margin-left: 90px;
  }
  .logo {
    width: 170px;
    height: 40px;
    margin-left: 50%;
    margin-right: 50%;
  }
}

/* <!--- scroll back to top button start----> */

.top_btn {
  background-color: #0d362e;
  display: none;
  color: #dc9036;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  height: 70px;
  width: 70px;
  font-size: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}


.mainimg {
  height: 600px;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.homelink {
  color: white;
  font-weight: bold;
}
.homelink:hover {
  text-decoration: none;
  color: #dc9036;
}


/* <!--- scroll back to top button ends ----> */
.ourservices {
  margin-top: 40px;
}
.services_slide {
  background-color: #dcdddd;
  border-radius: 18px;
  padding: 18px 18px;
}
.services-width{
  width: 350px;
}

@media screen and (min-width: 640px) {
  .services_slide2 {
    /* justify-content: center; */
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 640px) {
  .services_slide{
    margin-top: 20px;
    font-size: 10px;
    padding: 10px 10px;
  }
  .col-6{
    padding: 0 10px;
    margin: 0;
  }
  .ourservices .row .text-center .services_slide h2{
    font-size: 18px;
  }
  .services-width{
    width: 100%;
  }

  .ourservices .row h2{
    font-size: 30px;
  }
  .card7{
    display: none;
  }
  .services_slide2{
    margin-top: 0px !important;
  }
}