* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: white;
  font-weight: bolder;
}

.navbar-nav .nav-item .nav-link:hover {
  background: white;
  color: black;
}

.navbar-nav {
  padding-right: 100px;
}

.logo {
  width: 280px;
}

@media screen and (max-width: 640px) {
  .nav-item {
    background: transparent;
  }
  .nav-link {
    text-align: center;

    margin-left: 90px;
  }
  .logo {
    width: 170px;
    height: 40px;
    margin-left: 50%;
    margin-right: 50%;
  }
}

/* <!--- scroll back to top button start----> */

.top_btn {
  background-color: #0d362e;
  display: none;
  color: #dc9036;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  height: 70px;
  width: 70px;
  font-size: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

/* <!--- scroll back to top button ends ----> */

.carousel-item {
  height: 650px;
}
.carousel-item {
  filter: brightness(50%);
}

@media screen and (max-width: 640px) {
  .carousel-item img {
    height: 550px;
    object-fit: cover;
  }

  .carousel-item {
    height: 550px;
  }
}

.main-text {
  position: absolute;
  top: 300px;
  width: 40%;
  color: #fff;
  left: 60px;
}

@media screen and (max-width: 640px) {
  .main-text {
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .main-text h1 {
    font-size: 25px;
    word-spacing: 5px;
  }
}

.workspace {
  margin-top: 100px;
  /* height: 100vh; */
}

@media screen and (max-width: 640px) {
  .workspace {
    margin-top: 40px;
  }

  .workspace .row .text {
    text-align: center;
  }

  .workspace .row .text h1 {
    margin-top: 20px;
    font-size: 28px;
    /* height: 10px; */
  }

  .workspace .row .text p {
    font-size: 15px;
    padding: 0 20px;
  }
}

.link {
  font-size: 18px;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid #0d362e;
}

.link:hover {
  color: #dc9036;
  text-decoration: none;
}

.link2 {
  font-size: 18px;
  font-weight: bold;
  padding: auto;
  text-decoration: none;
  color: #0d362e;
  border-bottom: 3px solid #0d362e;
}

.link2:hover {
  color: #dc9036;
  text-decoration: none;
}

.projects {
  margin-top: 100px;
}

.projects,
.projects-img {
  padding-top: 45px;
}

figcaption {
  font-size: 18px;
}

figcaption:hover {
  font-weight: bold;
  color: #0d362e;
  cursor: pointer;
}

.viewpro {
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .viewpro {
    margin-top: 0px;
  }
  .projects {
    margin-top: 50px;
  }
  .projects,
  .projects-img {
    padding-top: 0;
  }
}

.viewpro2 {
  color: #0d362e;
  border-bottom: 3px solid #0d362e;
  font-size: 18px;
  font-weight: bold;
}

.viewpro2:hover {
  color: #dc9036;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .projects .text {
    text-align: center;
  }

  .projects .text .col-lg-6 h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.research {
  border-top: 5px solid #000;
  margin-top: 50px;
}

.textresearch {
  margin-top: 50px;
}

.research_container {
  padding: 1em 0;
  float: left;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .research_container {
    display: block;
    width: 100%;
  }
  .research {
    margin-top: 40px;
  }
  .textresearch {
    margin-top: 30px;
  }
}

@media screen and (min-width: 900px) {
  .research_container {
    width: 33.33333%;
  }
}

.content {
  position: relative;
  width: 98%;
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 500px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

#demo {
  margin-top: 40px;
}

/* carousel in mobile */

@media screen and (min-width: 640px) {
  #demo {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .research_images {
    display: none;
  }
}

.contactus {
  margin-top: 100px;
  border-top: 4px solid black;
}

.row {
  margin-top: 50px;
}
.contactusrow2 {
  margin-top: 50px;
  margin-left: 200px;
}
.contactus .row .col-lg-6 a {
  text-decoration: none;
  color: #0d362e;
  border-bottom: 3px solid #0d362e;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.contactus .row .col-lg-6 a:hover {
  color: #dc9036;
}

@media screen and (max-width: 640px) {
  .contactus {
    text-align: center;
    margin-top: 50px;
  }
}

.worklink {
  text-decoration: none;
  color: black;
}

.worklink:hover {
  text-decoration: none;
  color: #0d362e;
  cursor: pointer;
}

.footlink {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

@media screen and (max-width: 650px) {
  .footer-text {
    margin-bottom: 20px;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
  .contactusrow2 {
    margin-left: 0;
  }
}
